*.aux
*.synctex.gz
*.log
*.auxlock
.directory
.vscode/
*.md5
*.dpth
_minted-*
lib
lib64
*.fls
*.fdb_latexmk
*.toc
*.dep
*.listing
*build/
*.corollary
*.def
*.ist
*.lemma
*.lof
*.lot
*.theorem
*.thm
__pycache__